@font-face {
    font-family: Merriweather;
    src: url("./assets/fonts/merriweather-v28-latin-700.ttf");
}

@font-face {
    font-family: Inter;
    src: url("./assets/fonts/inter-v7-latin-regular.ttf");
}

body {
    background-color: #000;
}

* {
    box-sizing: border-box;
}

.header {
    background: url('./assets/img/bg_for_header.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    
}

.header-burger {
    width: 50px;
    height: 50px;
    position: relative;
    display: none;
}

.burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;

}

.burger-line-first {
    top:0;
}

.burger-line-second {
top: 50%;
transform: translateY(-50%);
}

.burger-line-third {
    bottom: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex-container {
    display: flex;
}

.logo-header {
    transition: .3s;
}

.logo-header:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%)
}

.nav-style {
    margin-left: auto ;
}

.list-style {
    display: flex;
    list-style: none;
    margin: 0px;
}

.list-item {
padding-right: 30px;
padding-top: 20px;
padding-bottom: 20px;
}

.switch-en {
display: block;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 9px;
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 50px;
text-align: center;
color: #BDAE82;
}

.switch-slash {
display: block;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 8px;
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 50px;
text-align: center;
color: #FFFFFF;
      
}

.switch-ru {
display: block;
padding-top: 20px;
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 50px;
text-align: center;
color: #FFFFFF;
transition: .3s;

}

.switch-ru:hover {
color: #BDAE82;
transition: .3s;
cursor: pointer;
}

.nav-link {
text-decoration: none;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
color: #FFFFFF;
transition: .3s;

}

.nav-link:hover {
color: #BDAE82;
transition: .3s;
}

.hero-container {
    background-image: url('./assets/img/bg_for_header.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    background-color: #000;

}

.section-with-pic {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-bottom: 330px;
}

.section {
    background: black;
}

.main-title {
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 120px;
color: #FFFFFF;
padding-bottom: 10px;
padding-top: 160px;
margin: 0px;
}

.text-hero {
margin: 0;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
color: #FFFFFF;
}

.padding-from-button-hero {
padding-bottom: 25px;
margin: 0;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
color: #FFFFFF;
}

.button-gold {
align-self: flex-start;
border: 0;
background-color: #bdae82;
cursor: pointer;
font-family: inherit;
padding: 8px 72px 7px 73px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;

text-align: center;
color: #000000;
transition: .3s;

}

.button-gold:hover {
    color: #FFFFFF;
    transition: .3s;
}

.wrapper-title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.section-title {
    position: relative;
    padding-top: 100px;
    margin: 0;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
    background: #000;
    
    }

.section-title::before {
    content: "";
    position: absolute;
    border: 2px solid #BDAE82;
    width: 274px;
    bottom: 39px;
    left: 0;
    
}

.section-title::after {
    content: "";
    position: absolute;
    border: 2px solid #BDAE82;
    width: 274px;
    bottom: 39px;
    right: 0;

    
}




.card-foto-pic {
    display: block;
    padding-bottom: 50px;
}

.skills-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 60px;
    gap: 40px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-item {
padding-bottom: 20px;
margin: 0;
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
text-align: center;
color: #FFFFFF;

}

.text-skill-item {
padding-right: 20px;
padding-left: 20px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
}

.section-title-portfolio {
position: relative;
padding-top: 100px;
margin: 0;
font-family: Merriweather;
font-style: normal;
font-weight: bold;
 font-size: 40px;
 line-height: 80px;
 text-align: center;
color: #BDAE82;
background: #000;
}

.section-title-portfolio::before {
    content: "";
    position: absolute;
    border: 2px solid #BDAE82;
    width: 240px;
    right: 462px;
    bottom: 39px;
    
    
}

.section-title-portfolio::after {
    content: "";
    position: absolute;
    border: 2px solid #BDAE82;
    width: 240px;
    bottom: 39px;
    right: -7px;
    
}



.button-transparent {
align-self: flex-start;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;
color: #BDAE82;
border: 2px solid #bdae82;
background-color: transparent;
cursor: pointer;
font-family: inherit;
padding: 8px 79px 7px 79px;
margin-right: 5px;
transition: .3s;
}

.button-transparent:hover {
color: #FFFFFF;
transition: .3s;
}

.other-padding {
    padding: 8px 69px 7px 70px;  
}

.button-items {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin-bottom: 60px;
}

.images-items {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.section-title-video {
position: relative;
padding-top: 100px;
margin: 0;
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 80px;
text-align: center;
color: #BDAE82;
background: #000;
}

.section-title-video::before {
    content: "";
    position: absolute;
    border: 2px solid #BDAE82;
    width: 273px;
    right: 425px;
    bottom: 39px;
}

.section-title-video::after {
    content: "";
    position: absolute;
    border: 2px solid #BDAE82;
    width: 273px;
    bottom: 39px;
    right: -4px;
}

.video-player {
    display: block;
}

.padding-bottom-for-video {
    padding-bottom: 60px;
}

.button {
    display: block;
    transition: .3s;

}

.button:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}


.wrapper-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-player {
    position: absolute;
    outline: none;
    border: 0;
    background: transparent;
}

.section-title-price {
position: relative;
padding-top: 100px;
margin: 0;
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 80px;
text-align: center;
color: #BDAE82;
background: #000;
}

.section-title-price::before {
    content: "";
    position: absolute;
    border: 2px solid #BDAE82;
    width: 273px;
    right: 425px;
    bottom: 39px;
}

.section-title-price::after {
    content: "";
    position: absolute;
    border: 2px solid #BDAE82;
    width: 273px;
    bottom: 39px;
    right: -4px;
}

.flex-container-price {
    display: flex;
    gap: 25px;
    padding-top: 60px;
    padding-bottom: 100px;
}

.kind-of-price {
padding-top: 43px ;
padding-bottom: 20px;
margin: 0px;
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 56px;
text-align: center;
color: #FFFFFF;
}

.money {
    padding-bottom: 20px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #BDAE82;
}

.description-price {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
}

.price-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #bdae82 ;
    padding-left: 115px;
    padding-right: 115px;
    padding-bottom: 43px;
}

.padding-from-button {
    padding-bottom: 40px;
}

.coloured-button {
padding-left: 36px;
padding-right: 36px;
border: 0;
background-color: #bdae82;
cursor: pointer;
font-family: inherit;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;
color: #000000;
transition: .3s;

}

.coloured-button:hover {
color: #FFFFFF;
transition: .3s;
}

.section-contacts {
    background: url('./assets/img/contacts.jpg');
    background-size: auto 700px;
    background-position: center center;
}

.wrapper-contacts {
display: flex;
flex-direction: column;
align-items: flex-end;
padding-right: 20px;
padding-bottom: 195px;
    
}


.section-title-contact {
padding-top: 60px;
padding-bottom: 40px;
padding-right: 230px;
margin: 0;
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 80px;
color: #BDAE82;

}

.container-full-image {
    max-width: 1440px;
    margin: 0 auto;
        
}

.button-gold-contacts {
    padding: 8px 40px 7px 40px;
    margin-right: 230px;
    border: 0;
    background-color: #bdae82;
    cursor: pointer;
    font-family: inherit;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    transition: .3s;
    
}

.button-gold-contacts:hover {
    color: #FFFFFF;
    transition: .3s;
}

.placeholder-email {
width: 450px;
height: 50px;
padding-left: 20px;
margin-bottom: 20px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
color: #BDAE82;
background: rgba(0, 0, 0, 0.5);
border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;  
}

.placeholder-tel {
width: 450px;
height: 50px;
padding-left: 20px;
margin-bottom: 20px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
color: #BDAE82;
background: rgba(0, 0, 0, 0.5);
border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;  
}

.placeholder-textarea {
width: 450px;
height: 100px;
padding-left: 20px;
margin-bottom: 30px;
resize: none;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
color: #BDAE82;
background: rgba(0, 0, 0, 0.5);
border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px; 
}

.back-footer {
    background: #000;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-footer-other {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF; 
}

.text-footer {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
color: #FFFFFF;
padding-left: 20px;

}

.social-icons {
    padding-right: 20px;
    transition: .3s;
}

.social-icons:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.pinterest-icon {
    transition: .3s;
}

.pinterest-icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}  

.wrapper-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.link-footer {
text-decoration: none;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
color: #FFFFFF;
transition: .3s;
}

.link-footer:hover {
color: #BDAE82;
transition: .3s;
}

@media screen and (max-width: 768px) {

.header {
    background: url(./assets/img/hero-mini.jpg);
}


.header-burger {
    display: block;

}

.container {
    max-width: 768px;
    padding: 0;
}

.logo-header {
padding-left: 60px;
}

.nav-style {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 3;
    transform: translateX(100%);
    transition: .2s;
    overflow: hidden;
}

.nav-style-active {
    transform: translateX(0);
}

.list-item {
    width: 100%;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 16px;

}

.list-style {
    flex-direction: column;
} 

.nav-link {
font-size: 35px;
line-height: 73px;
}

.header-nav-close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: -15px;
    z-index: 4;
}

.header-nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    top: 50%;
}


.header-nav-close-line:first-child {
transform: translateY(-50%) rotate(45deg);
}

.header-nav-close-line:last-child {
transform: translateY(-50%) rotate(-45deg);   
}

.hero-container {
background: url(./assets/img/hero-mini.jpg);  
}

.section-with-pic {
padding-bottom: 152px;
}

.main-title {
padding-top: 78px;
font-size: 32px;
line-height: 64px;
}

.text-hero {
line-height: 24px;
}

.padding-from-button-hero {
line-height: 24px;
padding-bottom: 60px;
}

.section-title {
padding-top: 80px;
font-size: 32px;
}

.skills-items {
    padding-top: 45px;
    row-gap: 76px;
    column-gap: 44px;
    padding-left: 40px;
    padding-right: 40px;
    

}

.card-foto-pic {
padding-bottom: 30px;
}

.text-skill-item {
line-height: 22px;
padding-right: 10px;
padding-left: 10px;
}

.text-skill-item-modifier {
padding-bottom: 80px;
}

.section-title::before {
    width: 121px;
    left: 0;
    
}

.section-title::after {
    width: 121px;
    right: 0;  
}

.button-items {
    flex-wrap: wrap;
    padding-left: 162px;
    padding-right: 161px;
    
}

.button-transparent-modifier {
    flex-basis: 46%;  
}

.images-items {
    justify-content: center;
}

.section-title-portfolio {
font-size: 32px;
padding-top: 80px;
}

.section-title-portfolio::before {
    width: 90px;
    left: 0;
    
    
}

.section-title-portfolio::after {
    width: 89px;
    right: 0;
    
}

.button-transparent-modifier {
    
}

.price-item {
    padding-left: 100px;
    padding-right: 100px;
}

.flex-container-price {
    flex-direction: column;
    gap: 50px;
    margin-left: 174px;
    margin-right: 174px;
    padding-top: 50px;
    padding-bottom: 80px;
}

.section-title-price {
    font-size: 32px;
    padding-top: 80px;
}


.section-title-price::before {
    width: 121px;
    left: 0;
}

.section-title-price::after {
    width: 121px;
    right: 0;
}

.description-price {
white-space: nowrap;
}

.coloured-button {
    white-space: nowrap;
    padding-right: 39px;
    padding-left: 39px;
    padding-top: 8px;
    padding-bottom: 7px;
}

.video-player {
    width: 100%;
}

.container-full-image {
    max-width: 768px;     
}

.section-title-video {
padding-top: 80px;
font-size: 32px;
}

.padding-bottom-for-video {
padding-bottom: 50px;
}

.section-title-video::before {
    width: 117px;
    left: 0;
}

.section-title-video::after {
    width: 116px;
    right: 0;
}

.button-player {
    
}

.section-contacts {
    background: url('./assets/img/contacts-mini.jpg');
    height: 600px;
}

.wrapper-contacts {
    justify-content: center;
    align-items: center;
    padding-bottom: 111px;
    padding-right: 0;   
    }

.section-title-contact {
    padding-right: 0px;
    font-size: 32px;
    line-height: 64px;
}


.button-gold-contacts {
margin-right: 0;

}

   
















.flex-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
}

.text-footer-other {
    line-height: 24.2px;
}

.text-footer {
    padding-left: 0;
    line-height: 24.2px;
    padding-bottom: 29px;
}

.text-footer-modifier {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
}

.wrapper-social-icons {
    padding-inline-start: 0;
}



}
    






