* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    min-height: calc(100vh - 94px) ;
    background-color: #F1EAD0;
    transition: .3s;
}

.span-container {
    display: flex;
    justify-content: center;
}

.span-items {
    font-size: 20px;
}

.ru {
    cursor: pointer;
    transition: .3s;
}

.ru:hover {
    color:#bdae82 ;
}

.en {
    cursor: pointer;
    transition: .3s;
}

.en:hover {
    color:#bdae82 ;
}

.literature {
    height: 300px;
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    
}

.wrapper-for-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.quotes {
    text-align: center;
    font-size: 32px;
    padding: 0 70px;
    transition: .3s;
}

.button-joke {
    padding: 10px 20px;
    background-color: burlywood;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #6AA852;
    border: none;
    transition: .3s;
}

.button-joke:hover {
    background-color: #0F7650;
    color: #899D83;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    
    
}

.footer-item {
    color: #fff;
    text-decoration: none;
    align-self: center;
    padding-left: 100px;
    transition: .3s;
}

.footer-item:first-child {
    padding-left: 20px;
}

.footer-item:hover {
    color: #bdae82;
}

.logo-rs {
    transition: .3s;
}

.logo-rs:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.active {
    background-color: #5F5745;
    color: #fff;
    transition: .3s;
}
